 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <p>I am an aspiring data scientist, currently completing a PhD in Particle Physics at Royal Holloway, University of London, working on the ATLAS experiment of the Large Hadron Collider at CERN. </p>
                </div>
                <div class="col-lg-4">
                    <p>I am well-versed in mathematics and statistics, and have extensive experience working with Python and SQL, as well as some familiarity with C++. I look to apply these skills to tackle interesting machine learning problems in a range of different fields. </p>
                </div>
            </div>
        </div>
    </section>
